@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

body {
    margin: 60px auto;
    width: 95%;
    font-family: 'Lato', sans-serif;
    /* color: #FFF;
    background: #322f30; */
    -webkit-font-smoothing: antialiased;
}

/*a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}*/
/*h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}*/
p {
    font-size: 1em;
    line-height: 1.4em;
    /* color: #333; */
    margin: 0.1em;
    padding: 0.5em;
}

li {
    margin: 0em;
    padding: 0.5em;
}

.post-link {
    font-size: 20px;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.fa {
/* square
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
     */
    padding: 5px;
    font-size: small;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}
/* Facebook */
.fa-facebook {
    /*background: #3B5998;*/
    /*color: white;*/
}
/* Twitter */
.fa-twitter {
    /*background: #55ACEE;*/
}
.fa-google-plus {
    /*background: #dd4b39;*/
}
.fa-linkedin {
    /*background: #dd4b39;*/
}


.container {
    width: 100%;
}


.navbar-nav > li > a, .navbar-brand {
    padding-top:4px !important;
    padding-bottom:0 !important;
    height: 28px;
}
.navbar {min-height:28px !important;}

.nav.navbar-nav li a {
    color: #fff;
}
.nav.navbar-nav a:hover {
    color: #ffffff;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu {
    /*background-color: #3344ff;*/
    color:#ffffff;
}
.dropdown-menu>li>a, .dropdown-menu {
    background-color: #3b95ff;
    color:#ffffff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
}

.navbar-default .navbar-text {
    color: #FFF;
}
.navbar-gallery .dropdown-menu > li > a {
    color: #ffffff;
}
.navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
}
nav ul, footer ul {
    /*font-family:'Helvetica', 'Arial', 'Sans-Serif'; */
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #12a7ff;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white; /*BACKGROUND color for active*/
    background-color: #12a7ff;
}

.navbar-default {
    background-color: #12a7ff;
    border-color: #12a7ff;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #66CCFF;  /*change color of links in drop down here*/
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #ffffff; /*Change rollover cell color here*/
}


.navbar-default .navbar-nav > li > a {
    color: white; /*Change active text color here*/
}

