@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

body {
    margin: 60px auto;
    width: 95%;
    font-family: 'Lato', sans-serif;
    /* color: #FFF;
    background: #322f30; */
    -webkit-font-smoothing: antialiased;
}

nav ul, footer ul {
    /*font-family:'Helvetica', 'Arial', 'Sans-Serif'; */
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

/*a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}*/
/*h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}*/
p {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
    margin: 0.1em;
    padding: 0.5em;
}

li {
    margin: 0em;
    padding: 0.5em;
}

.post-link {
    font-size: 20px;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.fa {
/* square
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
     */
    padding: 5px;
    font-size: small;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}
/* Facebook */
.fa-facebook {
    /*background: #3B5998;*/
    /*color: white;*/
}
/* Twitter */
.fa-twitter {
    /*background: #55ACEE;*/
}
.fa-google-plus {
    /*background: #dd4b39;*/
}
.fa-linkedin {
    /*background: #dd4b39;*/
}


.container {
    width: 100%;
}

.navbar-default {
  background-color: #1c58e0;
  border-color: #1c38c0;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #b7cffc;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #b7cffc;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #1c58e0;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #b7cffc;
  background-color: #1c38c0;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #1c38c0;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #b7cffc;
  background-color: #1c38c0;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #b7cffc;
  background-color: #1c38c0;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #b7cffc;
  background-color: #1c38c0;
}
.navbar-default .navbar-toggle {
  border-color: #1c38c0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #1c38c0;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #b7cffc;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #b7cffc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #b7cffc;
    background-color: #1c38c0;
  }
}


