<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>rw:theme:simplebusiness</key>
		<dict>
			<key>CreationDate</key>
			<date>2008-08-07T11:07:58Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>04DD301E-B259-4B7B-A4FF-EF831B49F473</string>
			<key>PageDigests</key>
			<dict>
				<key>css/sidebar/sidebar_hide.css</key>
				<dict>
					<key>Digest</key>
					<data>
					Y1BQNySiNHFtOQLidSFGIg==
					</data>
					<key>Size</key>
					<integer>158</integer>
				</dict>
				<key>css/sidebar/sidebar_left.css</key>
				<dict>
					<key>Digest</key>
					<data>
					V+2Un5gCeAPoRGQSi1ilcg==
					</data>
					<key>Size</key>
					<integer>65</integer>
				</dict>
				<key>css/sidebar/sidebar_right.css</key>
				<dict>
					<key>Digest</key>
					<data>
					8XbWAT8Sz02hEVlt7Jh5Yg==
					</data>
					<key>Size</key>
					<integer>422</integer>
				</dict>
				<key>handheld.css</key>
				<dict>
					<key>Digest</key>
					<data>
					07dAiKdfcAsYfWEcJvxr5g==
					</data>
					<key>Size</key>
					<integer>6005</integer>
				</dict>
				<key>images/button_normal.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					K+MHb7BIinmkp5+OWK2QJA==
					</data>
					<key>Size</key>
					<integer>341</integer>
				</dict>
				<key>images/button_over.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					PiGoX+ffiHRkuVNpIa9jSQ==
					</data>
					<key>Size</key>
					<integer>327</integer>
				</dict>
				<key>images/content_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					Kh93hH/mRaEZPam0JcQYWw==
					</data>
					<key>Size</key>
					<integer>134</integer>
				</dict>
				<key>images/sidebar_left_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					Kh93hH/mRaEZPam0JcQYWw==
					</data>
					<key>Size</key>
					<integer>134</integer>
				</dict>
				<key>images/sidebar_right_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					zXs2OqmX8B9DqwVcVdyEBA==
					</data>
					<key>Size</key>
					<integer>134</integer>
				</dict>
				<key>javascript.js</key>
				<dict>
					<key>Digest</key>
					<data>
					n0dN9DfVcKHYMmVnniBKtw==
					</data>
					<key>Size</key>
					<integer>14608</integer>
				</dict>
				<key>print.css</key>
				<dict>
					<key>Digest</key>
					<data>
					iezQ8899+O5jnHKzWNWPWg==
					</data>
					<key>Size</key>
					<integer>3818</integer>
				</dict>
				<key>styles.css</key>
				<dict>
					<key>Digest</key>
					<data>
					g1tN6TbWfpHGHNTRavyvIA==
					</data>
					<key>Size</key>
					<integer>12059</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>rw:theme:simplebusiness</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
