#sidebarContainer {
	float: left;
}

#container {
	background: #ffffff repeat-y left url(../../images/sidebar_left_bg.png);
}

#contentContainer, #breadcrumbcontainer {
	margin-right: 0px;
	margin-left: 190px;
}

