a:link, a:visited {
	color: #296cd8;
}

a:hover, a:active {
	color: #000000;
}

#pageHeader {
	background: repeat-x url(../../images/header_bg.jpg);
}

#sidebarContainer .sideHeader {
	color: #276ad6;
}

#navcontainer #current {
	background: #296cd8;
}

#navcontainer #current:hover {
	background: #296cd8;
	color: #ffffff;
}

#navcontainer .currentAncestor {
	background: #296cd8;
}

#navcontainer a {
	color: #296cd8;
}

#navcontainer a:hover {
	background: #296cd8;
}

#navcontainer ul ul #current{
	color: #276ad6;
	background: #ced7e5;
}

#navcontainer ul ul .currentAncestor {
	color: #276ad6;
	background: #ced7e5;
}

#navcontainer ul ul ul #current{
	background: #f7f5f6;
	color: #cccccc;
}

.blog-entry-title {
	color: #296cd8;
}

.blog-entry-category, .blog-entry-permalink {
	color: #296cd8;
}

.album-title {
	color: #296cd8;
}

.thumbnail-caption {
	color: #296cd8;
}

.photo-navigation {
	background: repeat-x url(../../images/header_bg.jpg);
	height: 80px;
}

.movie-page-title {
	color: #296cd8;
}

.movie-title {
	color: #296cd8;
}