<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page0</key>
		<dict>
			<key>CreationDate</key>
			<date>2006-09-10T22:49:16Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>0C5DBD9C-E80C-482F-9F8E-0546523968FD</string>
			<key>PageDigests</key>
			<dict>
				<key>css/sidebar/sidebar_hide.css</key>
				<dict>
					<key>Digest</key>
					<data>
					KS+7YV61TNDd/apTwZwJtg==
					</data>
					<key>Size</key>
					<integer>345</integer>
				</dict>
				<key>css/sidebar/sidebar_left.css</key>
				<dict>
					<key>Digest</key>
					<data>
					suGFhSUWAWcPA20GqG2yzw==
					</data>
					<key>Size</key>
					<integer>672</integer>
				</dict>
				<key>css/sidebar/sidebar_right.css</key>
				<dict>
					<key>Digest</key>
					<data>
					bGtXVzKWAiazXs4RqACRpg==
					</data>
					<key>Size</key>
					<integer>175</integer>
				</dict>
				<key>css/styles/blue.css</key>
				<dict>
					<key>Digest</key>
					<data>
					fSZkwpPb71Tr5Sw2vDHurA==
					</data>
					<key>Size</key>
					<integer>898</integer>
				</dict>
				<key>css/styles/orange.css</key>
				<dict>
					<key>Digest</key>
					<data>
					MVdweOilFmY6JEk5N09krg==
					</data>
					<key>Size</key>
					<integer>851</integer>
				</dict>
				<key>handheld.css</key>
				<dict>
					<key>Digest</key>
					<data>
					07dAiKdfcAsYfWEcJvxr5g==
					</data>
					<key>Size</key>
					<integer>6005</integer>
				</dict>
				<key>images/blue/header_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					/C1EonUDVG7pwWtuAqhE2Q==
					</data>
					<key>Size</key>
					<integer>124</integer>
				</dict>
				<key>images/blue/header_highlight.png</key>
				<dict>
					<key>Digest</key>
					<data>
					DaVW5idfqmb5MVxR/P7Q0g==
					</data>
					<key>Size</key>
					<integer>175</integer>
				</dict>
				<key>images/blue/side_head_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					UrT1CUQpiDYXC1NUI78YoQ==
					</data>
					<key>Size</key>
					<integer>450</integer>
				</dict>
				<key>images/blue/view_but_left.png</key>
				<dict>
					<key>Digest</key>
					<data>
					z9oD02PhN6HRjBGtZ9098w==
					</data>
					<key>Size</key>
					<integer>859</integer>
				</dict>
				<key>images/blue/view_but_middle.png</key>
				<dict>
					<key>Digest</key>
					<data>
					N2dxMRqt2us7M4eHnJQ+qQ==
					</data>
					<key>Size</key>
					<integer>204</integer>
				</dict>
				<key>images/blue/view_but_right.png</key>
				<dict>
					<key>Digest</key>
					<data>
					9j2f3phddd1ndM5sEVx10Q==
					</data>
					<key>Size</key>
					<integer>846</integer>
				</dict>
				<key>images/button_over.png</key>
				<dict>
					<key>Digest</key>
					<data>
					PttcQ7pZoBr0Z/lmy73DgA==
					</data>
					<key>Size</key>
					<integer>406</integer>
				</dict>
				<key>images/button_over_right.png</key>
				<dict>
					<key>Digest</key>
					<data>
					twhwn2YTJn0ojUWfB77qnQ==
					</data>
					<key>Size</key>
					<integer>419</integer>
				</dict>
				<key>images/container_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					vymSCrOayESQxSrtHXQjag==
					</data>
					<key>Size</key>
					<integer>193</integer>
				</dict>
				<key>images/header_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					cpxh4ANFbQrjK+WoZ5wigA==
					</data>
					<key>Size</key>
					<integer>124</integer>
				</dict>
				<key>images/header_highlight.png</key>
				<dict>
					<key>Digest</key>
					<data>
					V5ksTpxH5fGZtAzUifqEWQ==
					</data>
					<key>Size</key>
					<integer>225</integer>
				</dict>
				<key>images/side_head_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					+zirNTEOwZu93Rw4rgQs1Q==
					</data>
					<key>Size</key>
					<integer>1210</integer>
				</dict>
				<key>images/sidebar_hide_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					qorIlvRP3BAmHu4NWEbOtw==
					</data>
					<key>Size</key>
					<integer>167</integer>
				</dict>
				<key>images/sidebar_left_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					W+BfySSGBe0Ejf85UigGsw==
					</data>
					<key>Size</key>
					<integer>187</integer>
				</dict>
				<key>images/top_bar_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					Y02Kw+gq21DCtDMEVuZE1g==
					</data>
					<key>Size</key>
					<integer>299</integer>
				</dict>
				<key>images/view_but_left.png</key>
				<dict>
					<key>Digest</key>
					<data>
					iF/dTAF1Y6OBsuCGtCUTjQ==
					</data>
					<key>Size</key>
					<integer>1096</integer>
				</dict>
				<key>images/view_but_middle.png</key>
				<dict>
					<key>Digest</key>
					<data>
					KcPL/1ixrxWSGcZC7RFEGg==
					</data>
					<key>Size</key>
					<integer>257</integer>
				</dict>
				<key>images/view_but_right.png</key>
				<dict>
					<key>Digest</key>
					<data>
					Yk9PH1vcsXUanxodhyhPmA==
					</data>
					<key>Size</key>
					<integer>1125</integer>
				</dict>
				<key>index.html</key>
				<dict>
					<key>Digest</key>
					<data>
					UQEevbKQYoDZnjJqsZld2A==
					</data>
					<key>Size</key>
					<integer>6287</integer>
				</dict>
				<key>javascript.js</key>
				<dict>
					<key>Digest</key>
					<data>
					n0dN9DfVcKHYMmVnniBKtw==
					</data>
					<key>Size</key>
					<integer>14608</integer>
				</dict>
				<key>print.css</key>
				<dict>
					<key>Digest</key>
					<data>
					DNKZAXhJp6X58qn0mxQJIg==
					</data>
					<key>Size</key>
					<integer>7456</integer>
				</dict>
				<key>styles.css</key>
				<dict>
					<key>Digest</key>
					<data>
					4Gv387DX4MVxJBptCln3sg==
					</data>
					<key>Size</key>
					<integer>10826</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page0</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
