<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <!-- a class="navbar-brand" href="#">Damir Cavar</a-->
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">home</a></li>
            <li class="dropdown">
               <a class="dropdown-toggle" data-toggle="dropdown" href="/cv/index.html">cv
               <span class="caret"></span></a>
            <ul class="dropdown-menu">
               <li><a href="/cv/index.html">cv</a></li>
            </ul>
            </li>
            <li><a href="/code/index.html">code</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/blog">blog</a></li>
        </ul>
    </div>
   </div>
</nav>
