<nav class="navbar navbar-inverse bg-primary navbar-fixed-top" style="background-color:#347ef6; padding:0em; margin:0em;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav" style="padding: 0em;margin: 0em;">
                <li style="padding: 0em;margin: 0em;"><a href="/">home</a></li>
                <li  style="padding: 0em;margin: 0em;" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">cv
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" style="padding: 0em;margin: 0em;">
                        <li style="padding: 0em;margin: 0em;"><a href="/cv/">cv</a></li>
                        <li style="padding: 0em;margin: 0em;"><a href="/cv/publications.html">publications</a></li>
                        <li style="padding: 0em;margin: 0em;"><a href="/cv/presentations.html">presentations</a></li>
                        <li style="padding: 0em;margin: 0em;"><a href="/cv/researchprojects.html">research</a></li>
                        <li style="padding: 0em;margin: 0em;"><a href="/cv/teaching.html">teaching</a></li>
                        <li style="padding: 0em;margin: 0em;"><a href="/cv/otheractivities.html">other</a></li>
                    </ul>
                </li>
                <li  style="padding: 0em;margin: 0em;" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">code
                        <span class="caret"></span></a>
                    <ul style="padding: 0em;margin: 0em;" class="dropdown-menu" >
                        <li style="padding: 0em;margin: 0em;"><a href="/code/">code</a></li>
                        <li style="padding: 0em;margin: 0em;"><a href="/code/python.html">python</a></li>
                        <li style="padding: 0em;margin: 0em;"><a href="/code/scheme.html">scheme</a></li>
                        <li style="padding: 0em;margin: 0em;"><a href="/code/java.html">java</a></li>
                        <li style="padding: 0em;margin: 0em;"><a href="/code/cpp.html">c++</a></li>
                        <li style="padding: 0em;margin: 0em;"><a href="/code/haskell.html">haskell</a></li>
                    </ul>
                </li>
            </ul>
            <ul style="padding: 0em;margin: 0em;" class="nav navbar-nav navbar-right">
                <li style="padding: 0em;margin: 0em;"><a href="/blog">blog</a></li>
            </ul>
        </div>
    </div>
</nav>
