#container {
	width: auto;
	max-width: 480px;
}

#navcontainer {
	overflow: hidden;
}

.blog-entry img {
	max-width: 99%;
	padding: 1%;
	background: #d7d7d7;
	height: auto;
}

#content .imageStyle {
	max-width: 99%;
	height: auto;
	padding: 1%;
	background: #d7d7d7;
}

.photo-background img {
	max-width: 90%;
	height: auto;
	margin: 50px 0 0;
	padding: 2%;
	background: #d7d7d7;
}

div#navcontainer ul li:hover ul, div#navcontainer ul ul li:hover ul, div#navcontainer ul ul ul li:hover ul, div#navcontainer ul ul ul ul li:hover ul, div#navcontainer ul ul ul ul ul li:hover ul{
	display: none;
}