a:link {
	color: #67ce3d;
}

a:visited {
	color: #67ce3d;
}

#pageHeader {
	background: url(../../images/green/header_bg.jpg) repeat-x;
}

#pageHeader h1 {
	text-shadow: 0px 1px 2px #004400;
}

#pageHeader h2 {
	text-shadow: 0px 1px 2px #004400;
}

#sidebarContainer .sideHeader {
	color: #7aca20;
}


#breadcrumbcontainer a:hover {
	color: #67ce3d;
}
	
#navcontainer #current {
	background: repeat-x url(../../images/green/button_over.png);
}

#navcontainer .currentAncestor {
	background: repeat-x url(../../images/green/button_over.png);
}

#navcontainer a:hover {
	background: url(../../images/green/button_over.png) repeat-x;
}

#navcontainer ul ul a:hover{
	background: none #cccccc;
}

#navcontainer ul ul .currentAncestor {	
	color: #67ce3d;
}

.blog-entry-title {
	color: #7aca20;
}

.blog-entry-category {
	color: #7aca20;
}

.album-title {
	color: #7aca20;
}

.photo-title {
	text-shadow: 0px 1px 2px #004400;
}

.photo-caption {
	text-shadow: 0px 1px 2px #004400;
}

.movie-page-title {
	color: #7aca20;
}