/* @group General Styles */

body {
	text-align: center; /* To Make Content Centered */
	background: #f0f0f0;
	color: #666666;
	font: 0.78em Verdana, Arial, Helvetica, sans-serif;
	margin: 8px;
	padding: 0;
}

p {
}

b, strong {

}

a:link {
	color: #0080ff;
	text-decoration: underline;
}

a:visited {
	color: #0080ff;
	text-decoration: underline;
}

a:hover, a:active {
	text-decoration: none;
}

img {
	border: none;
}

.image-left {
	float: left;
	margin: 3px 3px 3px 0;
	padding: 3px 3px 3px 0;
	position: relative;
	z-index: 5;
}

.image-right {
	float: right;
	margin: 3px 0 3px 3px;
	padding: 3px 0 3px 3px;
	position: relative;
	z-index: 5;
}
	
/* @end */

/* @group Layout */

.clearer {
	clear: both;
}

#container { 
	width: 680px;
	margin: 0px auto 10px;
	text-align: left;
	border: 1px solid #aeaeae;
}

#pageHeader {
	height: 71px;
	border-bottom: solid #aeaeae 1px;
}

#pageHeader img {
	float: right;
}

#pageHeader h1 {
	padding-left: 10px;
	padding-top: 10px;
	color: #ffffff;
	font-size: 1.8em;
	margin: 0;
}

#pageHeader h2 {
	font-size: 1.3em;
	color: #ffffff;
	margin: 0;
	padding-left: 10px;
	font-weight: normal;
}

#contentContainer {
	margin-left: 200px;
	position: relative;
	z-index: 10;
}

#contentContainer #content {
	padding: 10px 10px 10px 15px;
}

#sidebarContainer {
	width: 200px;
	float: left;
}

#sidebarContainer #sidebar {
	padding: 5px;
}

#sidebarContainer .sideHeader {
	font-weight: bold;
	padding: 5px 5px 0;
	margin: 0 -5px;
	font-size: 1em;
}

#footer {
	width: 680px;
	margin: 0px auto; /* Right And Left Margin Widths To Auto */
	text-align: center; /* Hack To Keep IE5 Windows Happy */
	background: #ffffff;
	border: 1px solid #aeaeae;
}

#footer p {
	margin: 0;
	padding: 5px;
}

#footer a:link, #footer a:visited {

}

#footer a:hover, #footer a:active {
	
}
	
/* @end */

/* @group Bread-crumb */

#breadcrumbcontainer {
	background: url(images/breadcrumb_bg.png) repeat-x;
	text-align: right;
	height: 25px;
}

#breadcrumbcontainer ul {
	list-style: none;
	margin: 0;
	padding-top: 5px;
	padding-left: 5px;
	color: #d4d4d4;
}

#breadcrumbcontainer li {
	display: inline;
}

#breadcrumbcontainer a {
	color: #d4d4d4;
	text-decoration: none;
}

#breadcrumbcontainer a:hover {

}
	
/* @end */

/* @group Toolbar */

/* Toolbar Styles */
#navcontainer {
	font-size: 1em;
	border-top: 1px solid #aeaeae;
	margin-bottom: 10px;
	position: relative;
	z-index: 99;
}

#navcontainer #current {
	color: #ffffff;
	text-shadow: 0px 1px 1px #666666;
}

#navcontainer .currentAncestor {
	color: #ffffff;
	text-shadow: 0px 1px 1px #666666;
}

/* Parent - Level 0 */

#navcontainer ul {
	padding: 0;
	list-style: none;
	margin: 0px;
}

#navcontainer li {
	position: relative;
}

#navcontainer a {
	display: block;
	width: 190px;
	padding: 5px 5px 0px 5px;
	height: 20px;
	color: #333333;
	text-decoration: none;
	text-shadow: 0px 1px 0px #fff;
	border-bottom: 1px solid #aeaeae;
	background: url(images/button_normal.png) repeat-x;
}

#navcontainer a:hover { 
}

/* Fix IE. Hide from IE Mac \*/
* html #navcontainer ul li { float: left; height: 1%; }
* html #navcontainer ul li a { height: 20px; }
/* End */

/* Child - Level 1 */
/* All browsers will use this code, it will make the pop out menus work */
#navcontainer ul ul {
	width: 200px;
	position: absolute;
	top: -1px;
	left: 200px;
	text-align: left;
	border-right: 1px solid #aeaeae;
	border-left: 1px solid #aeaeae;
	border-top: 1px solid #aeaeae;
}


#navcontainer ul ul a {
	background: #ebebeb;
}

#navcontainer ul ul a:hover {
	text-shadow: 0px 1px 0px #ffffff;
	background: #cccccc;
}

#navcontainer ul ul #current{
}


/* Child Level 3 */

#navcontainer ul ul ul {
}

#navcontainer ul ul ul ul li { 
}

#navcontainer ul ul ul ul a{
}

#navcontainer ul ul ul ul a:hover{

}

div#navcontainer ul ul, div#navcontainer ul ul ul, div#navcontainer ul li:hover ul ul, div#navcontainer ul li:hover ul ul ul, div#navcontainer ul li:hover ul ul ul ul, div#navcontainer ul li:hover ul ul ul ul ul{
display:none;
}

div#navcontainer ul li:hover ul, div#navcontainer ul ul li:hover ul, div#navcontainer ul ul ul li:hover ul, div#navcontainer ul ul ul ul li:hover ul, div#navcontainer ul ul ul ul ul li:hover ul{
display:block;
}
/* @end */

/* @group Global Classes */

blockquote {
	border-top: 1px solid #aeaeae;
	border-bottom: 1px solid #aeaeae;
	padding-left: 5px;
	padding-right: 5px;
	font-style: italic;
	color: #999999;
}

h1 {

}

h2 {

}

h3 {

}

.imageStyle {

}

/* Main content area unordered list styles */
#contentContainer #content ul {
}

#contentContainer #content li {
}

ul.disc {
	list-style-type: disc;
}

ul.circle {
	list-style-type: circle;
}

ul.square {
	list-style-type: square;
}

ol.arabic-numbers {
	list-style-type: decimal;
}

ol.upper-alpha {
	list-style-type: upper-alpha;
}

ol.lower-alpha {
	list-style-type: lower-alpha;
}

ol.upper-roman {
	list-style-type: upper-roman;
}

ol.lower-roman {
	list-style-type: lower-roman;
}

/* Sidebar area unordered list styles */
#sidebarContainer #sidebar ul {
	margin: 10px 0;
	padding: 0;
}

#sidebarContainer #sidebar li {
}

/* Table Styles */
table {
	font-size: 1em;
}
	
/* @end */

/* @group Blog */

/* @group Tag Cloud */
ul.blog-tag-cloud {
	margin: 0 0 10px;
	padding: 0;
	text-align: justify;
}

ul.blog-tag-cloud li {
	display: inline;
	padding-right: 5px;
}

.blog-tag-size-1 {	
	font-size: 0.8em;
}

.blog-tag-size-2 {	
	font-size: 0.85em;
}

.blog-tag-size-3 {	
	font-size: 0.9em;
}

.blog-tag-size-4 {	
	font-size: 0.95em;
}

.blog-tag-size-5 {	
	font-size: 1em;
}

.blog-tag-size-6 {	
	font-size: 1.05em;
}

.blog-tag-size-7 {	
	font-size: 1.1em;
}

.blog-tag-size-8 {	
	font-size: 1.15em;
}

.blog-tag-size-9 {	
	font-size: 1.2em;
}

.blog-tag-size-10 {	
	font-size: 1.25em;
}

.blog-tag-size-11 {	
	font-size: 1.3em;
}

.blog-tag-size-12 {	
	font-size: 1.35em;
}

.blog-tag-size-13 {
	font-size: 1.4em;
}

.blog-tag-size-14 {	
	font-size: 1.45em;
}

.blog-tag-size-15 {
	font-size: 1.5em;
}

.blog-tag-size-16 {	
	font-size: 1.55em;
}

.blog-tag-size-17 {	
	font-size: 1.6em;
}

.blog-tag-size-18 {	
	font-size: 1.65em;
}

.blog-tag-size-19 {
	font-size: 1.7em;
}

.blog-tag-size-20 {	
	font-size: 1.75em;
}

/* @end */

/* @group Archive Page */

.blog-archive-background {
}

.blog-entry-summary {
	margin-bottom: 10px;
}

.blog-archive-headings-wrapper {
}

.blog-archive-entries-wrapper {
}

.blog-archive-entries-wrapper .blog-entry {
}

.blog-archive-month {
	font-size: 1.8em;
}

.blog-archive-link {
	margin-bottom: 15px;
}

.blog-archive-link a:link, .blog-archive-link a:visited {
}
	
/* @end */

.blog-entry {
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #cccccc;
}

.blog-entry-title {
	font-size: 1.2em;
	font-weight: bold;
	margin: 0;
}

.blog-entry-title a {
	text-decoration: none;
}


.blog-entry-date {
	color: #cccccc;
	margin-bottom: 10px;
}

.blog-read-more {
	display: block;
	padding-top: 10px;
	margin-bottom: 10px;
	font-style: italic;
}

.blog-entry-body {

}

.blog-entry-comments {

}

/*styles the category link in the main entry */
.blog-entry-category {
}

.blog-entry-category a:link, .blog-entry-category a:visited {
}

/* styles the archives in the blog sidebar */
#blog-archives {
	margin-bottom: 10px;
}

.blog-archive-link-enabled {
}

.blog-archive-link-disabled {
}

/* Styles the blog categories in the blog sidebar */
#blog-categories {
	margin-bottom: 10px;
}

.blog-category-link-enabled {
}

.blog-category-link-disabled {
}

/* Styles the blog RSS feeds in the blog sidebar */
#blog-rss-feeds {
	margin-bottom: 10px;
}

.blog-rss-link {
}

.blog-comments-rss-link {
}
/* @end */

/* @group File Sharing */

.filesharing-description {

}

.filesharing-item {
}

.filesharing-item-title a:link {

}

.filesharing-item-title a:hover {

}

.filesharing-item-title a:visited {

}

.filesharing-item-description {

}

/* @end */

/* @group Photo Album */

/* @group Index Page (Thumbnail view) */

.album-title {
	font-size: 1.2em;
	font-weight: bold;
}

.album-description {
	color: #cccccc;
	margin-bottom: 70px;
}

.album-wrapper {
	display: block;
	width: 99%;
	position: relative;
}

.thumbnail-wrap {
	text-align: center;
	position: relative;
	float: left;
	margin-bottom: 60px;
	margin-right: 16px;
}

.thumbnail-frame {
	text-align: center;
	position: absolute;
    bottom: 0;
    left: 0;
}

.thumbnail-frame a {
}

.thumbnail-frame a:hover {
}

.thumbnail-frame img {
	margin: auto;
	padding: 1px;
	border: Solid 1px #cccccc;
}

.thumbnail-caption {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 38px;
	display: block;
}
	
/* @end */

/* @group Single Page (Photo view) */

.photo-background {
}

.photo-navigation {
	height: 71px;
	margin-bottom: 35px;
}

.photo-navigation a:link, .photo-navigation a:visited {

}

.photo-navigation a:hover {

}

.photo-frame{
	padding: 4px;
	background: #ffffff;
	border: 1px solid #aeaeae;
}

.photo-links {
	background: repeat-x url(images/breadcrumb_bg.png);
	height: 25px;
	margin: 0;
	padding: 6px 0 0;
}

.photo-links a:link {
	color: #ffffff;
}

.photo-title {
	padding-left: 10px;
	padding-top: 10px;
	color: #ffffff;
	font-size: 1.8em;
	margin: 0;
}

.photo-caption {
	font-size: 1.3em;
	color: #ffffff;
	padding-left: 10px;
	font-weight: normal;
	margin: 0 0 15px;
}

/* @group EXIF data */
/* Data wrapper */
.exif-data {
}

/* p tag classes for all exif data */
p.exif-version {
}

p.exif-colour-space {
}

p.exif-focal-length {
}

p.exif-dimensions {
}

p.exif-pixel-y-dimension {
}

p.exif-pixel-x-dimension {
}

p.exif-oecf-value {
}

p.exif-subsec-time-original {
}

p.exif-exposure-mode {
}

p.exif-spatial-frequency-response {
}

p.exif-scene-capture-type {
}

p.exif-subject-location {
}

p.exif-shutter-speed {
}

p.exif-datetime-original {
}

p.exif-subsec-time {
}

p.exif-compressed-bits-per-pixel {
}

p.exif-flash-energy {
}

p.exif-saturation {
}

p.exif-brightness {
}

p.exif-exposure-time {
}

p.exif-f-number {
}

p.exif-file-source {
}

p.exif-gain-control {
}

p.exif-subject-area {
}

p.exif-cfa-pattern {
}

p.exif-scene-type {
}

p.exif-white-balance {
}

p.exif-flash {
}

p.exif-exposure-index {
}

p.exif-flashpix-version {
}

p.exif-device-setting-description {
}

p.exif-focalplane-x-resolution {
}

p.exif-image-uniqueid {
}

p.exif-components-configuration {
}

p.exif-light-source {
}

p.exif-sensing-method {
}

p.exif-aperture {
}

p.exif-sharpness {
}

p.exif-exposure-program {
}

p.exif-subject-distance {
}

p.exif-subsec-time-digitized {
}

p.exif-contrast {
}

p.exif-focalplane-resolution-unit {
}

p.exif-gamma {
}

p.exif-35mm-focal-length {
}

p.exif-datetime-digitized {
}

p.exif-subject-distance-range {
}

p.exif-custom-rendered {
}

p.exif-max-aperture {
}

p.exif-sound-file {
}

p.exif-metering-mode {
}

p.exif-spectral-sensitivity {
}

p.exif-exposure-bias {
}

p.exif-focalplane-y-resolution {
}

p.exif-iso-rating {
}

p.exif-maker-note {
}

p.exif-digital-zoom-ratio {
}

p.exif-user-comment {
}
/* @end */

/* @end */
	
/* @end */

/* @group Quicktime Page */

.movie-description {

}
	
/* @end */

/* @group Quicktime Album */

/* @group Index Page (Movie Thumbnail view) */

.movie-page-title {
	font-size: 1.2em;
	font-weight: bold;
}

.movie-page-description {
	color: #cccccc;
	margin-bottom: 10px;
}

.movie-thumbnail-frame {
	padding: 1px;
	border: Solid 1px #aeaeae;
	width: 132px;
	height: 132px;
	float: left;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 10px;
	position: relative;
	z-index: 12;
}

.movie-thumbnail-caption {

}
	
/* @end */

/* @group Single Page (Movie View) */

.movie-background {

}

.movie-title {

}

.movie-frame {

}	
/* @end */

/* @end */

/* @group Contact Form */
.message-text { 
} 

.required-text {
} 

.form-input-field {
} 

.form-input-button { 
} 
/* @end */





/* @group JS-Kit Override */

.js-singleCommentBodyT {
	display: block;
	padding-top: 17px !important;

}

.js-singleCommentHeader {
	padding: 0 8px !important;
}

.js-OldComments,
.js-commentFieldLabel,
.js-pmFieldLabel,
.js-singleCommentBody,
.js-singleCommentKarmaComMod,
.js-commentBodyLabel,
.js-commentCmtTextarea,
.js-commentAvatarArea,
.js-OldCommentsWrap,
.js-OldComments,
.js-CreateCommentFieldsWrap,
.js-CreateCommentFields,
.js-commentCmtTextarea,
.js-kit-comments div {
	clear: none !important;
}

.js-singleCommentText {
	display: block !important;
	clear: both !important;
}

.js-kit-comments br {
	display: none !important;
}

.js-singleCommentBody br {
	display: block !important;
}

/* @end */

/* @group Disqus */
#dsq-comments-title {
    clear:none !important;
} 

#dsq-content .dsq-options {
    clear:none !important;
}

#dsq-thread-settings  {
    clear:none !important;
}

#dsq-content div {
    clear:none !important;
}

.dsq-button{
    float:none ! important;
}

/* @end */

/* @group Sitemap */

.rw-sitemap ul {
    margin: 0;
    padding: 0;
    list-style-type: disc;
    list-style-position: inside;
}

.rw-sitemap ul li {
    margin: 0 0 10px 0;
}

.rw-sitemap ul li:last-child {
    margin: 0;
}

.rw-sitemap ul li li {
    margin: 0 0 5px 0;
}

.rw-sitemap ul li li:last-child {
    margin: 0;
}

.rw-sitemap ul ul {
    padding: 0 0 0 20px;
    list-style-type: square;
}

.rw-sitemap ul ul ul {
    list-style-type: circle;
}

/* @end */