body {
	color:#424347;
}

a, a:link, a:visited, h1.blog-entry-title, h1.blog-entry-title a, h1.blog-entry-title a:visited {
	color:#9F0E19;
}

a:hover, a:active, h1.blog-entry-title a:hover, h1.blog-entry-title a:active {
	color: #5F080F;
}