/* @group General Styles */

body {
	background: #ffffff url(images/content_bg.png) repeat-y;
	text-align: center;
	margin: 0;
	color: #000000;
	font: 0.78em 'Lucida Grande', LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
	padding: 0;
}

p {
}

b, strong {

}

a:link, a:visited {
	color: #21536a;
}

a:hover, a:active {
	color: #ffa000;
}

img {
	border-style: none;
}

.image-left {
	float: left;
	margin: 3px 3px 3px 0;
	padding: 3px 3px 3px 0;
}

.image-right {
	float: right;
	margin: 3px 0 3px 3px;
	padding: 3px 0 3px 3px;
}
	
/* @end */

/* @group Layout */

#container {
	text-align: left;
	margin-left: 215px;
	margin-right: 20px;
}

.clearer {
	clear: both;
}

#pageHeader {
	border-bottom: 1px solid #d6d6d6;
}

#pageHeader img {
	float: right;
	margin-right: 10px;
}

#pageHeader h1 {
	font: bold 2em 'Lucida Grande', LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
	margin: 10px 0 0px;
	color: #21536a;
}

#pageHeader h2 {
	font: 1.6em 'Lucida Grande', LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
	margin: 0px 0 10px;
	color: #ffa000;
}

#contentContainer {
}

#contentContainer #content {
	padding-top: 20px;
	padding-bottom: 20px;
}

#sidebarContainer {
	float: left;
 	width: 199px;
	position: absolute;
	top: 0;
	text-align: left;
	left: 0;
}

#sidebarContainer #sidebar {
	padding: 5px;
}

#sidebarContainer .sideHeader {
	padding: 15px 5px 0;
	margin: 0 -5px;
	font-weight: bold;
	font-size: 1.4em;
	color: #1f5369;
}

#footer {
	text-align: left;
	border-top: 1px solid #d6d6d6;
}

#footer p {
	padding-top: 10px;
	margin: 0;
}

#footer a:link, #footer a:visited {
}

#footer a:hover, #footer a:active {
}
	
/* @end */

/* @group Bread-crumb */

#breadcrumbcontainer {
	padding-bottom: 10px;
}

#breadcrumbcontainer ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#breadcrumbcontainer li {
	display: inline;
}

#breadcrumbcontainer a {
}

#breadcrumbcontainer a:hover {

}
	
/* @end */

/* @group Toolbar */

/* Toolbar Styles */

#navcontainer {
}

#navcontainer #current {
	text-decoration: none;
	background: url(images/button_over.jpg) repeat-x;
	font-weight: bold;
	color: #21536a;
	text-shadow: 0px 1px 0px #ffffff;
}

#navcontainer #current:hover {
}

#navcontainer .currentAncestor {
	text-decoration: none;
	background: url(images/button_over.jpg) repeat-x;
	font-weight: bold;
}
/* Parent - Level 0 */

#navcontainer ul{
	width: 199px;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#navcontainer li {
}

#navcontainer a {
	display: block;
	text-decoration: none;
	background: url(images/button_normal.jpg) repeat-x;
	border-bottom: 1px solid #c3c3c3;
	padding: 5px;
	font-weight: bold;
	height: 15px;
	color: #21536a;
	text-shadow: 0px 1px 0px #ffffff;
}

#navcontainer a:hover {
	background: url(images/button_over.jpg) repeat-x;
}

#navcontainer a:active {
}

/* Child - Level 1 */

#navcontainer ul ul {
}

#navcontainer ul ul li {

}

#navcontainer ul ul a {
	text-indent: 20px;
}

#navcontainer ul ul a:hover{
}

#navcontainer ul ul #current{
}

/* Child - Level 2 */

#navcontainer ul ul ul {
}

#navcontainer ul ul ul li { 
}

#navcontainer ul ul ul a{
	text-indent: 40px;
}

#navcontainer ul ul ul a:hover{

}

/* Child Level 3 */

#navcontainer ul ul ul ul {
}

#navcontainer ul ul ul ul li { 
}

#navcontainer ul ul ul ul a{
	text-indent: 60px;
}

#navcontainer ul ul ul ul a:hover{

}

/* Child Level 4 */

#navcontainer ul ul ul ul ul {
}

#navcontainer ul ul ul ul ul li { 
}

#navcontainer ul ul ul ul ul a{
	text-indent: 80px;
}

#navcontainer ul ul ul ul ul a:hover{

}

/* Child Level 5 */

#navcontainer ul ul ul ul ul ul {
}

#navcontainer ul ul ul ul ul ul li { 
}

#navcontainer ul ul ul ul ul ul a{
	text-indent: 100px;
}

#navcontainer ul ul ul ul ul ul a:hover{

}

/* @end */

/* @group Global Classes */

blockquote, .standout {
	color: #1c5380;
	font-style: italic;
	margin: 10px 0;
	padding: 0 10px;
}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

.imageStyle {

}

/* Main content area unordered list styles */
#contentContainer #content ul {
}

#contentContainer #content li {
}

ul.disc {
	list-style-type: disc;
}

ul.circle {
	list-style-type: circle;
}

ul.square {
	list-style-type: square;
}

ol.arabic-numbers {
	list-style-type: decimal;
}

ol.upper-alpha {
	list-style-type: upper-alpha;
}

ol.lower-alpha {
	list-style-type: lower-alpha;
}

ol.upper-roman {
	list-style-type: upper-roman;
}

ol.lower-roman {
	list-style-type: lower-roman;
}

/* Sidebar area unordered list styles */
#sidebarContainer #sidebar ul {
	margin: 10px 0;
	padding: 0;
}

#sidebarContainer #sidebar li {
}

/* Table Styles */
table {
	font-size: 1em;
}
	
/* @end */

/* @group Blog */

/* @group Tag Cloud */
ul.blog-tag-cloud {
	margin: 0 0 10px;
	padding: 0;
	text-align: justify;
}

ul.blog-tag-cloud li {
	display: inline;
	padding-right: 5px;
}

.blog-tag-size-1 {	
	font-size: 0.8em;
}

.blog-tag-size-2 {	
	font-size: 0.85em;
}

.blog-tag-size-3 {	
	font-size: 0.9em;
}

.blog-tag-size-4 {	
	font-size: 0.95em;
}

.blog-tag-size-5 {	
	font-size: 1em;
}

.blog-tag-size-6 {	
	font-size: 1.05em;
}

.blog-tag-size-7 {	
	font-size: 1.1em;
}

.blog-tag-size-8 {	
	font-size: 1.15em;
}

.blog-tag-size-9 {	
	font-size: 1.2em;
}

.blog-tag-size-10 {	
	font-size: 1.25em;
}

.blog-tag-size-11 {	
	font-size: 1.3em;
}

.blog-tag-size-12 {	
	font-size: 1.35em;
}

.blog-tag-size-13 {
	font-size: 1.4em;
}

.blog-tag-size-14 {	
	font-size: 1.45em;
}

.blog-tag-size-15 {
	font-size: 1.5em;
}

.blog-tag-size-16 {	
	font-size: 1.55em;
}

.blog-tag-size-17 {	
	font-size: 1.6em;
}

.blog-tag-size-18 {	
	font-size: 1.65em;
}

.blog-tag-size-19 {
	font-size: 1.7em;
}

.blog-tag-size-20 {	
	font-size: 1.75em;
}

/* @end */

/* @group Archive Page */

.blog-archive-background {
}

.blog-entry-summary {
	margin-bottom: 10px;
}.blog-archive-headings-wrapper {
	margin-bottom: 25px;
}

.blog-archive-entries-wrapper {
}

.blog-archive-entries-wrapper .blog-entry {
}.blog-archive-month {
	font-size: 1.6em;
	color: #21536a;
}

.blog-archive-link {
}.blog-archive-link a:link, .blog-archive-link a:visited {
}
	
/* @end */

.blog-entry {
	margin-bottom: 25px;
}

.blog-entry-title {
	font-size: 1.6em;
	color: #21536a;
	font-weight: normal;
	margin: 0;
}

.blog-entry-title a {
	color: #21536a;
	text-decoration: none;
}

.blog-entry-title a:hover {
	color: #ffa000;
}

.blog-entry-date {
	margin-bottom: 10px;
	color: #21536a;
}

.blog-read-more {
	display: block;
	padding-top: 10px;
	margin-bottom: 10px;
	font-style: italic;
}

.blog-entry-body {
}

.blog-entry-comments {

}

/*styles the category link in the main entry */
.blog-entry-category {
}

.blog-entry-category a:link, .blog-entry-category a:visited {
}

/*styles the permalink link in the main entry */
.blog-entry-permalink {
}

.blog-entry-permalink a:link, .blog-entry-permalink a:visited {
}

/* styles the archives in the blog sidebar */
#blog-archives {
	margin-bottom: 10px;
}

.blog-archive-link-enabled {
}

.blog-archive-link-disabled {
}

/* Styles the blog categories in the blog sidebar */
#blog-categories {
	margin-bottom: 10px;
}

.blog-category-link-enabled {
}

.blog-category-link-disabled {
}

/* Styles the blog RSS feeds in the blog sidebar */
#blog-rss-feeds {
	margin-bottom: 10px;
}

.blog-rss-link {
}

.blog-comments-rss-link {
}
	
/* @end */

/* @group File Sharing */

.filesharing-description {
	border-bottom: 1px solid #cccccc;
	margin-bottom: 10px;
	padding-bottom: 10px;
	color: #21536a;
}

.filesharing-item {
	border-bottom: 1px solid #cccccc;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.filesharing-item-title a:link {
	font-size: 1.5em;
}

.filesharing-item-title a:hover {
}

.filesharing-item-title a:visited {

}

.filesharing-item-description {
}

/* @end */

/* @group Photo Album */

/* @group Index Page (Thumbnail view) */

.album-title {
	font-size: 1.6em;
	color: #21536a;
}

.album-description {
	margin-bottom: 60px;
}

.album-wrapper {
	display: block;
	width: 99%;
	position: relative;
}

.thumbnail-wrap {
	text-align: center;
	position: relative;
	float: left;
	margin-bottom: 60px;
	margin-right: 10px;
}


.thumbnail-frame {
	border: Solid 1px #cccccc;
	padding: 1px;
	position: absolute;
    bottom: 0;
    left: 0;
}

.thumbnail-frame:hover {
}

.thumbnail-frame a {
}

.thumbnail-frame a:hover {
}

.thumbnail-frame img {
	margin: auto;
    border: none;
}

.thumbnail-caption {
	font-size: 0.85em;
	color: #21536a;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 38px;
	display: block;
}
	
/* @end */

/* @group Single Page (Photo view) */

.photo-background {
	text-align: left;
}

.photo-navigation {
	position: absolute;
	top: 0;
	left: 0;
	width: 199px;
}

.photo-links {
	display: block;
	text-decoration: none;
	background: url(images/button_normal.jpg) repeat-x;
	border-bottom: 1px solid #c3c3c3;
	padding: 5px 0 5px 10px;
	font-weight: bold;
	height: 15px;
}

.photo-navigation a:link, .photo-navigation a:visited {
}

.photo-navigation a:hover {

}

.photo-frame{
	position: absolute;
	top: 10px;
	left: 210px;
}

.photo-title {
	font: bold 1.5em 'Lucida Grande', LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
	margin: 10px 0 0px;
	padding-left: 10px;
	color: #21536a;
}

.photo-caption {
	font: 1em 'Lucida Grande', LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
	padding-left: 10px;
	margin: 0px 0 10px;
	color: #ffa000;
}

/* @group EXIF data */
/* Data wrapper */
.exif-data {
	text-align: left;
	width: 180px;
	position: absolute;
	top: 110px;
}

/* p tag classes for all exif data */
p.exif-version {
}

p.exif-colour-space {
}

p.exif-focal-length {
}

p.exif-dimensions {
}

p.exif-pixel-y-dimension {
}

p.exif-pixel-x-dimension {
}

p.exif-oecf-value {
}

p.exif-subsec-time-original {
}

p.exif-exposure-mode {
}

p.exif-spatial-frequency-response {
}

p.exif-scene-capture-type {
}

p.exif-subject-location {
}

p.exif-shutter-speed {
}

p.exif-datetime-original {
}

p.exif-subsec-time {
}

p.exif-compressed-bits-per-pixel {
}

p.exif-flash-energy {
}

p.exif-saturation {
}

p.exif-brightness {
}

p.exif-exposure-time {
}

p.exif-f-number {
}

p.exif-file-source {
}

p.exif-gain-control {
}

p.exif-subject-area {
}

p.exif-cfa-pattern {
}

p.exif-scene-type {
}

p.exif-white-balance {
}

p.exif-flash {
}

p.exif-exposure-index {
}

p.exif-flashpix-version {
}

p.exif-device-setting-description {
}

p.exif-focalplane-x-resolution {
}

p.exif-image-uniqueid {
}

p.exif-components-configuration {
}

p.exif-light-source {
}

p.exif-sensing-method {
}

p.exif-aperture {
}

p.exif-sharpness {
}

p.exif-exposure-program {
}

p.exif-subject-distance {
}

p.exif-subsec-time-digitized {
}

p.exif-contrast {
}

p.exif-focalplane-resolution-unit {
}

p.exif-gamma {
}

p.exif-35mm-focal-length {
}

p.exif-datetime-digitized {
}

p.exif-subject-distance-range {
}

p.exif-custom-rendered {
}

p.exif-max-aperture {
}

p.exif-sound-file {
}

p.exif-metering-mode {
}

p.exif-spectral-sensitivity {
}

p.exif-exposure-bias {
}

p.exif-focalplane-y-resolution {
}

p.exif-iso-rating {
}

p.exif-maker-note {
}

p.exif-digital-zoom-ratio {
}

p.exif-user-comment {
}

/* @end */

/* @end */
	
/* @end */

/* @group Quicktime Page */

.movie-description {

}
	
/* @end */

/* @group Quicktime Album */

/* @group Index Page (Movie Thumbnail view) */

.movie-page-title {
	font-size: 1.6em;
	color: #21536a;
}.movie-page-description {
	margin-bottom: 10px;
}.movie-thumbnail-frame {
	border: Solid 1px #cccccc;
	padding: 1px;
	float: left;
	width: 132px;
	height: 132px;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.movie-thumbnail-frame:hover {
}

.movie-thumbnail-caption {
	color: #21536a;
}
	
/* @end */

/* @group Single Page (Movie View) */

.movie-background {
	margin: 5px;
	background: none #ffffff;
}

.movie-title {
	font: 1.2em 'Lucida Grande', LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
	color: #ffa000;
}

.movie-frame {

}
	
/* @end */


/* @end */

/* @group Contact Form */
.message-text { 
} 

.required-text {
} 

.form-input-field {
} 

.form-input-button { 
} 
/* @end */

/* @group Sitemap */

.rw-sitemap ul {
    margin: 0;
    padding: 0;
    list-style-type: disc;
    list-style-position: inside;
}

.rw-sitemap ul li {
    margin: 0 0 10px 0;
}

.rw-sitemap ul li:last-child {
    margin: 0;
}

.rw-sitemap ul li li {
    margin: 0 0 5px 0;
}

.rw-sitemap ul li li:last-child {
    margin: 0;
}

.rw-sitemap ul ul {
    padding: 0 0 0 20px;
    list-style-type: square;
}

.rw-sitemap ul ul ul {
    list-style-type: circle;
}

/* @end */