body {
	background: repeat-y right url(../../images/sidebar_right_bg.png);
}

#sidebarContainer, .blog-archive-link, .photo-navigation {
	position: absolute;
	top: 0;
	right: 0;
	left: auto;
}

#container, .blog-archive-headings-wrapper, .blog-archive-entries-wrapper {
	margin-left: 20px;
	margin-right: 215px;
}

.photo-frame{
	position: absolute;
	top: 10px;
	left: auto;
	right: 210px;
}

.exif-data {
	right: 10px;
}
